:root{
    /*Colors*/
    --primary-background-color: #fff;
    --text-color: #5a5a5a;
    --color-dark: #1d1d1d;
    --color-white: #ffffff;
    --color-lead: #ffbf3f;
    --color-try: #102542;
    --color-primary: #0066FF;

    /*font sizes */
    --h1: 5.6rem;
    --h2: 3rem;
    --h2-weight: 500;
    --h3-weight: 300;

    /*Padding variables */
    --bottom-section-padding: 8rem;
    --bottom-section-padding-mobile: 5rem;

    /*Container width for all */
    --container-width: 84%;
    --container-width-tablet: 90%;
    --container-width-mobile: 94%;

}
@font-face {
    font-family: 'churchward';
    src: url('/Assets/Churchward69Bold.otf');
}
@font-face {
    font-family: 'Alphawood';
    src: url('/Assets/DancingDonuts.ttf');
}
@font-face {
    font-family: 'Donut';
    src: url('/Assets/Font_2.otf');
}
@font-face {
    font-family: 'bitcrusher';
    src: url('/Assets/bitcrusher.ttf');
}
@font-face{
    font-family: 'Robson';
    src: url('/Assets/Robson.ttf');
}
@font-face {
    font-family: 'Zillah';
    src: url('/Assets/Zillah.ttf');
}
@font-face {
    font-family: 'Typoline';
    src: url('/Assets/Typoline.otf');
}
@font-face {
    font-family: 'Speedway';
    src: url('/Assets/Speedway.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    border: 0;
    list-style: none;
}
body{
    position: relative;
    font-family: 'poppins', sans-serif;
    background-color: #F1F1F1;
}
a{
    color: var(--color-dark);
    font-weight: 300;
}
h1{
    font-size: 5rem;
    /* text-shadow: 
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff; Outline color */
}
section{
    max-width: 100vw;
}
.vsk_root .container_102{
    width: var(--container-width);
    margin: 0 auto;
}
.vsk_root .btn_102{
    padding: 1rem 2.3rem;
    /* background-color: var(--color-primary); */
    /* background-color: #8C52FF; */
    background-color: #102542;
    color: var(--color-white);
    font-weight: 500;
    border-radius: .4rem;
    transition: all 300ms ease;  
}
.vsk_root .btn_102:hover{
    background-color: white;
    /* color: #8C52FF; */
    color: #102542;
    /* border: 1px solid #8C52FF; */
    border: 1px solid #102542;
}

.vsk_root nav{
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
nav button{
    display: none;
}
.vsk_root .nav-container_102{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vsk_root .nav_items_102{
    display: flex;
    gap: 4rem;
}
.vsk_root .nav-signin_signup{
    display: flex;
    gap: 2rem;
}
.vsk_root header{
    position: relative;
}
.vsk_root .header_102 {
    max-width: 100vw;
    position: relative;
    text-align: center;
    padding: var(--bottom-section-padding);
    font-size: var(--h2);
    font-family: 'Robson'; /*changes*/
    /* background: rgba(0,0,0,.7) url('/Assets/kids.avif') no-repeat top center/cover; */
    background: url('/Assets/Herobg.png') no-repeat top center/cover;
    /* background-blend-mode: darken; */
}
.vsk_root .header_102 .header_first_102{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vsk_root .header_102 .text h1{
    font-size: 10rem;
    line-height: 1;
    color: #2F2D52;
}

.vsk_root .header_102 .icon_pencil_102{
    position: absolute;
    width: 150px;
    transform: rotate(270deg);
    top: 21%;
    left: 6%;
    z-index: 1;
}
.vsk_root .header_102 .icon_curvy_102{
    position: absolute;
    width: 150px;
    top: 21%;
    left: 6%;
}
.vsk_root .header_102 .icon_book_102{
    position: absolute;
    width: 200px;
    bottom: 25%;
    right: 20%;
}
.vsk_root .header_102 .icon_learning_102{
    position: absolute;
    width: 150px;
    bottom: 0;
    right: 0;
}
.vsk_root .header_102 .icon_round_102{
    position: absolute;
    width: 250px;
    bottom: -8%;
    left: -7%;
    transform: rotate(45deg);
}
.vsk_root .header_102 .icon_orbit_102{
    position: absolute;
    width: 200px;
    top: 12%;
    right: 23%;
}
.vsk_root .header_102 .icon_genius_102{
    position: absolute;
    width: 200px;
    bottom: 28%;
    left: 28%;
    z-index: 1;
}
.vsk_root .header_102 .icon_bubbles_102{
    position: absolute;
    width: 80px;
    bottom: 30%;
    left: 28%;
}
.vsk_root .header_102 .icon_bub_102{
    position: absolute;
    width: 20px;
    top: 38%;
    left: 15%;
}
.vsk_root .header_102 .text .text_102{
    font-family: 'Speedway';
    font-size: 9rem;
    letter-spacing: px;
    color: #FF7A0D;
    /* color: var(--color-lead); */
}
.vsk_root .header_102 .text .text-shadow_102{
    color: #2F2D52;
    text-shadow: -2px 2px 0 #fff,
                    2px 2px 0 #fff,
                    2px -2px 0 #fff,
                    -2px -2px 0 #fff;
}
.vsk_root .header_102 .text .text-learning_102{
    color: #FF7A0D;
}
/*  SPECIAL CONTAINER */
.vsk_root .special_program_102{
    border-radius: 20px;
    background-color: var(--color-white);
    font-family: 'Robson';
    color: #102542;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.vsk_root .special_program_container_102{
    padding: 4rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: left;
}
.vsk_root .special_program_text_102{
    display: flex;
    align-self: flex-start;
}
.vsk_root .special_program_text_102 .program_102{
    position: relative;
}
.vsk_root .special_program_container_102 h1{
    position: relative;
    z-index: 1;
    font-size: 8rem;
}
.vsk_root .special_program_container_102 .planet_102{
    position: absolute;
    top: 5%;
    left: 60%;
    width: 150px;
    transform: rotate(-70deg);
}
.vsk_root .special_program_container_102 .rocket_102{
    order: 1;
    position: absolute;
    right: -2%;
    top: 39%;
    width: 200px;
    transform: rotate(-105deg);
}
.vsk_root .special_program_container_102 .solar_102{
    position: absolute;
    bottom: -17%;
    left: -13%;
    width: 300px;
}

.vsk_root .special_program_2_102{
    display: flex;
    align-self: flex-start;
    position: relative;
    gap: 10rem;

}
.vsk_root .special_program_2_102 .program2_102 h1{ 
    font-size: 8rem;
    position: relative;
    z-index: 1;
}
.vsk_root .special_program_container_102 .education_102{
    background: #FF7A0D;
    font-size: 5rem;
    display: inline-block;
    border-radius: 20px;
    padding: 1rem;
    border: 10px dashed #fff;
    transform: rotate(-13deg);
    color: white;
}
.vsk_root .program3_102{
    display: flex;
}
.vsk_root .special_program_container_102 .program3_102{
    align-self: flex-end;
    margin-bottom: 2rem;
}

.vsk_root .special_program_102 .course_container_102{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
    font-family: 'poppins';
    position: relative;
    padding-bottom: 0;
}
.vsk_root .special_program_102 .course_container_102 .courses{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: transform 0.3s ease;
    position: relative;
}
.vsk_root .special_program_102 .course_container_102 .courses img{
    align-self: center;
    width: 200px;
}
.vsk_root .special_program_102 .course_container_102 .courses h4{
    font-size: 1.2rem;
    margin-bottom: .7rem;
}
.vsk_root .special_program_102 .course_container_102 .courses p{
    font-size: .7rem;
    margin-bottom: 1rem;
}
.vsk_root .special_program_102 .course_container_102 .courses .card_btn_102{
    padding: .7rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    color: #102542;
    font-family: 'poppins';
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.vsk_root .special_program_102 .course_container_102 .courses.primary{
    background-color: var(--color-lead);
}
.vsk_root .special_program_102 .course_container_102 .courses.secondary{
    /* background-color: rgb(15, 140, 235); */
     background-color: #8C52FF;
    color: var(--color-white);
}
.vsk_root .special_program_102 .course_container_102 .courses.tertiary{
    /* background-color: rgb(255, 192, 192); */
    background-color: #00EBED;
}
.vsk_root .special_program_102 .course_container_102 .courses:hover{
    transform: translateY(-20px);
}
.vsk_root .special_program_102 .course_container_102 .courses:hover p{
    display: none;
}
.vsk_root .special_program_102 .course_container_102 .courses:hover .card_btn_102{
    display: block;
    cursor: pointer;
    color: #0066FF;
}
.vsk_root .special_program_102 .course_container_102 .binders_102{
    display: flex;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 32.5%;
}
.vsk_root .special_program_102 .course_container_102 .binder_102{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.vsk_root .special_program_102 .course_container_102 .try{
    width: 40px;
    height: 10px;
    background: var(--color-white);
    border-radius: 5px;
}
.vsk_root .special_program_102 .course_container_102 .binders_2_102{
    display: flex;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 65%;
}
.vsk_root .special_program_102 .course_container_102 .bind_102{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.vsk_root .special_program_102 .course_container_102 .feature{
    width: 40px;
    height: 10px;
    background: var(--color-white);
    border-radius: 5px;
}
.vsk_root .special_program_102 .future_102{
    position: relative;
    padding: 2rem;
}


.vsk_root .special_program_102 .future_102 .future_lead_102{
    
}
.vsk_root .special_program_102 .future_102 .future_lead_102 h1{
    font-size: 7rem;
    padding-bottom: 0;
}
.vsk_root .special_program_102 .future_102 .future_lead_102 h2{
    font-size: 4rem;
    color: white;
    border: 5px dashed var(--color-white);
    padding: .7rem;
    border-radius: 20px;
    transition: 0.3s ease;
}
.vsk_root .special_program_102 .future_102 .future_lead_102 .lead_102{
    background: var(--color-primary);
    font-size: 5rem;
    display: inline-block;
    border-radius: 20px;
    padding: 1rem;
    border: 10px dashed #fff;
    transform: rotate(-13deg);
    color: white;
}
.vsk_root .special_program_102 .future_102 .future_lead_102 h2:hover{
    color: var(--color-primary);
    border: 5px dashed var(--color-primary);
}
.vsk_root .special_program_102 .future_102 .future_lead_2_102{
    z-index: 5;
}
.vsk_root .special_program_102 .future_102 .future_lead_2_102 h1{
    font-size: 7rem;
}
.vsk_root .special_program_102 .future_102 .earth_102{
    position: absolute;
    width: 400px;
    left: 50%;
    top: 5%;
    animation: rotateEarth 10s linear infinite;
    backface-visibility: hidden;
    transform-origin: center center;
}
.vsk_root .special_program_102 .future_card_102{
    margin-top: 5rem;
    background-color: var(--color-lead);
    /* padding: 2rem; */
    font-family: 'poppins';
    border-radius: 20px;
    color: white;
    margin-bottom: 2rem;
    z-index: 1;
}
.vsk_root .special_program_102 .future_102 .mercury_102{
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100px;
    z-index: 0;
    overflow: hidden;
    border-radius: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.vsk_root .special_program_102 .future_102 .venus_102{
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 100px;
    z-index: 0;
}

.vsk_root .special_program_102 .future_card_102 .card_header_102{
    display: flex;
    justify-content: space-between;
}
.vsk_root .special_program_102 .future_card_102 .card_header_102 .header_lead_102{
    width: 33.33%; /* Set width for each div (33.33% for three columns with 10px space between them) */
    padding: 1rem;
    text-align: center; /* Center align content */
}
.vsk_root .special_program_102 .future_card_102 .card_header_102 .header_lead_102:nth-child(2){
    background-color: #8C52FF;
    /* border-top-right-radius: 10px; */
}
.vsk_root .special_program_102 .future_card_102 .card_header_102 .header_lead_102:nth-child(3){
    background-color: #00EBED;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.vsk_root .special_program_102 .future_card_102 .card_content_102{
    font-family: 'Robson';
    color: #102542;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.vsk_root .special_program_102 .future_card_102 .card_content_102 .virtual_102 h1{
    margin-bottom: 2rem;
    /* width: 600px; */
    overflow-wrap: break-word;
}
.vsk_root .special_program_102 .future_card_102 .card_content_102 .virtual_102 p{
    font-family: 'poppins';
    width: 400px;
    overflow-wrap: break-word;
    font-size: .7rem;
}
.vsk_root .special_program_102 .future_card_102 .card_content_102 video{
    border-radius: 20px;
    width: 500px;
}

.vsk_root .special_program_102 .payment_plan_102{
    padding: 2rem;
}
.vsk_root .special_program_102 .payment_plan_102 .payment_header_102 h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 1rem; */
    place-items: center;
    font-family: 'poppins';
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102{
    border-radius: 20px;
    border: 1px solid #102542;
    padding: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102:hover{
    transform: translateY(-10px);
    background-color: #102542;
    color: var(--color-white);
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 h3,h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 span{
    font-size: 1rem;
    text-align: center;
    /* color: #102542a0; */
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 .payment_card_content .payment_card_text_102{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    /* padding: 1rem; */
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 .payment_card_content .payment_card_text_102 ion-icon{
    font-size: 1rem;
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 .payment_card_content .payment_card_text_102 .cancel_102{
    color: red;

}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 .payment_card_btn_102{
    text-align: center;
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 .payment_card_btn_102 button{
    padding: 1rem 2rem;
    background-color: #102542;
    color: white;
    font-family: 'poppins';
    border: 1px solid #102542;
    border-radius: .4rem;
    transition: all 300ms ease; 
    cursor: pointer; 
}
.vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 .payment_card_btn_102 button:hover{
    background-color: white;
    color: #102542;
}

.vsk_root .potential_102{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 2rem;
    color: white;
    /* background-color: var(--color-white); */
    background-color: var(--color-dark);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    font-family: 'Robson';
    text-shadow: -2px 2px 0 #fff,
    2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff;
}
.vsk_root .potential_102 .potential_text_102{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.vsk_root .potential_102 .potential_mercury_102{
    position: absolute;
    right: 46%;
    bottom: 20%;
    width: 70px;
    z-index: 2;
}
.vsk_root .potential_102 .potential_bubble_102{
    position: absolute;
    right: 26%;
    top: 46%;
    width: 40px;
}
.vsk_root .potential_102 .icon_pencil_102{
    position: absolute;
    width: 300px;
    /* transform: rotate(270deg); */
    top: 21%;
    right: 15%;
    z-index: 1;
}
.vsk_root .potential_102 .icon_curvy_102{
    position: absolute;
    width: 150px;
    top: 21%;
    right: 15%;
}
.vsk_root .potential_102 .icon_plant_102{
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;
}
.vsk_root .potential_102 .icon_diamond_102{
    position: absolute;
    width: 300px;
    top: -12%;
    left: -10%;
}
.vsk_root .potential_102 .icon_polygon_102{
    position: absolute;
    width: 350px;
    bottom: 0%;
    left: -10%;
    transform: rotate(45deg);
}
.vsk_root .potential_102 .potential_text_102 h1{
    font-size: 10rem;
}
.vsk_root .potential_102 .potential_text_102 .unlock_102{
    color: #8C52FF;
}
.vsk_root .potential_102 .potential_text_102 .unlock_vsk_102{
    color: #FFBF3F;
}
.vsk_root .potential_102 .potential_text_102 .unlock_us_102{
    color: #00EBED;
}
.vsk_root .footer_container_102{
    font-family: 'poppins';
    background-color: #f1f1f1;
}
.vsk_root .footer_container_102 .footer_content_102{
    border-bottom: 2px solid var(--color-dark);
    display: flex;
    align-items: center;
    /* gap: 15rem; */
    justify-content: space-evenly;
    padding: 2rem;
    margin-bottom: 1rem;
}
.vsk_root .footer_container_102 .footer_content_102 .about_102{
    padding: 2rem;
}
.vsk_root .footer_container_102 .footer_content_102 ul li a{
    text-decoration: none;
    font-size: .7rem;
    color: black;
    transition: .5s  ease;
}
.vsk_root .footer_container_102 .footer_content_102 ul li a:hover{
    border-bottom: 1px solid var(--color-dark);

}
.vsk_root ion-icon{
    font-size: 2rem;
    transition: .5s ease;

}
.vsk_root .footer_container_102 .footer_socials_102{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.vsk_root .facebook_102:hover{
    color: #0066FF;
    cursor: pointer;
}
.vsk_root .twitter_102:hover{
    color: rgb(15, 140, 235);
    cursor: pointer;
}
.vsk_root .youtube_102:hover{
    color: red;
    cursor: pointer;
}





/*============== KEYFRAMES ==============*/
@keyframes rotateEarth {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg); /* Rotate the image 360 degrees */
    }
  }

  /*========MEDIA QUERIES========*/
  @media only screen and (max-width: 1200px){
    .vsk_root .header_102 .icon_orbit_102{
        right: 20%;
        width: 170px;
    }
    .vsk_root .header_102 .icon_bub_102{
        display: none;
    }
    .vsk_root .header_102 .icon_pencil_102{
        left: 5%;
        width: 120px;
    }
    .vsk_root .header_102 .icon_curvy_102{
        left: 5%;
        width: 100px;
    }
    .vsk_root .header_102 .icon_book_102{
        right: 15%;
        bottom: 22%;
        width: 150px;
    }
    .vsk_root .header_102 .icon_genius_102{
        width: 150px;
    }
    .vsk_root  .special_program_102 .future_card_102 .card_content_102 video{
        width: 350px;
    }
    .vsk_root .special_program_container_102 h1{
        font-size: 6rem;
    }
    .vsk_root .special_program_container_102 .planet_102{
        width: 100px;
        top: 10%;
    }
    .vsk_root .special_program_container_102 .rocket_102{
        width: 150px;
        top: 35%;
    }
    .vsk_root .special_program_container_102 .education_102{
        font-size: 3.5rem;
    }
    .vsk_root .special_program_102 .future_102 .earth_102{
        width: 300px;
        left: 65%;
        top: 15%;
    }
    .vsk_root .potential_102 .icon_pencil_102{
        right: 5%;
        top: 20%;
    }   
    .vsk_root .potential_102 .icon_curvy_102{
        right: 5%;
    }
    .vsk_root .special_program_102 .course_container_102 .binders_102{
        left: 32.25%;
    }
    .vsk_root .special_program_102 .course_container_102 .binders_2_102{
        left: 64.5%;
    }
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102{
        gap: 1rem;
    }

    
  }
  @media only screen and (max-width: 1024px){
    .vsk_root .container_102{
        width: var(--container-width-tablet);
    }
    h1{
        font-size: 4.2rem;
    }
    section{
        padding-bottom: var(--bottom-section-padding-mobile);
    }
    .vsk_root .nav-container_102{
        position: relative;
        width: 100vw;
    }
    .vsk_root .nav_items_102{
        position: fixed;
        top: 6rem;
        right: 0;
        background-color: var(--color-white);
        height: max-content;
        width: 18rem;
        box-shadow: -2rem 2rem 3rem rgba(255,255,255, 0.2);
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none;
    }
    .vsk_root .nav_items_102 li{
        width: 100%;
        height: 6rem;
    }
    .vsk_root .nav_items_102 li a{
        color: var(--color-dark);
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 3rem;
        display: flex;
        align-items: center;
        transition: all 400ms ease;
    }
    .nav_items_102 li a:hover{
        background-color: #102542;
        color: var(--color-white);
    }
    .vsk_root .nav-signin_signup{
        display: none;
    }
    .vsk_root .nav-logo_102{
        padding-inline: 1rem;
        font-size: 1.2rem;
    }
    .vsk_root nav button{
        display: inline-block;
        margin-right: 1.4rem;
        background: transparent;
        color: var(--color-dark);
        cursor: pointer;
    }
    .vsk_root nav button.close-btn_102{
        display: none;
    }
    .vsk_root nav button ion-icon{
        font-size: 2.4rem;
    }
    /* Header */
    .vsk_root .header_102 .header_second_102 .header_second_end_102 .image_102{
        display: none;
    }
    .vsk_root .header_102 .text h1{
        font-size: 8rem;
    }
    .vsk_root .header_102 .icon_pencil_102{
        width: 100px;
        left: 8%;
        top: 23%;
    }
    .vsk_root .header_102 .icon_curvy_102{
        left: 8%;
        top: 23%;
    }
    .vsk_root .header_102 .text .text_102{
        font-size: 7rem;
    }
    .vsk_root .header_102 .icon_round_102{
        left: -13%;
    }
    .vsk_root .header_102 .header_first_102 .icon_102 .icon_pencil_102{
        display: none;
    }

    /*special  program*/
    .vsk_root .special_program_container_102 h1{
        font-size: 5rem;
    }
    .vsk_root .special_program_102 .future_102 .earth_102{
        width: 200px;
        left: 55%;
        top: 10%;
    }
    .vsk_root .special_program_container_102 .planet_102{
        left: 50%;
    }
    .vsk_root .special_program_102 .future_102 .future_lead_102 h1,h2{
        font-size: 5rem;
    }
    .vsk_root .special_program_102 .future_102 .mercury_102{
        bottom: 65%;
    }
    /*content-card*/

    .vsk_root .future_card_102 .card_content_102{
        flex-direction: column;
    }
    .vsk_root .future_card_102 .card_content_102 p{
        display: none;
    }
    .vsk_root .future_card_102 .card_content_102 h1{
        margin-bottom: 0;
    }
    .vsk_root  .special_program_102 .future_card_102 .card_content_102 .virtual_image{
        text-align: center;
    }
    .vsk_root  .special_program_102 .future_card_102 .card_content_102 video{
        width: 800px;
    }
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102{
        gap: 1rem;
    }
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 h3, h2{
        font-size: 2rem;
    }
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 .payment_card_content .payment_card_text_102 p{
        font-size: .7rem;
    }

    /*POTENTIAL*/
    .vsk_root .potential_102 .potential_text_102 h1 {
        font-size: 8rem;
    }
    .vsk_root .potential_102 .icon_pencil_102{
        width: 200px;
        right: 12%;
        top: 23%;
    }
    .vsk_root .potential_102 .icon_curvy_102{
        right: 12%;
        top: 23%;
        width: 100px;
    }
    .vsk_root .potential_102 .icon_diamond_102{
        left: -15%;
    }
    .vsk_root .potential_102 .icon_polygon_102 {
        left: -15%;
        width: 270px;
    }
  }
  @media only screen and (max-width: 900px){
    .vsk_root .header_102 .header_first_102 .text h3{
        font-size: 6rem;
    }
    .vsk_root .header_102 .header_first_102 .text .text_102{
        font-size: 6rem;
    }
    .vsk_root .header_102 .header_second_102 .header_second_start_102 h1{
        font-size: 6rem;
    }
    .vsk_root .special_program_102{
        /* display: none; */
    }
    .vsk_root .special_program_102 .special_program_container_102{
        display: none;
    }
    .vsk_root .special_program_102 .future_102 .earth_102{
        /* width: 300px; */
        left: 65%;
        top: 10%;
    }
    .vsk_root .special_program_102 .course_container_102 .binders_2_102{
        left: 63.5%;
    }
    .vsk_root .future_102 .future_lead_102 h1{
        font-size: 6rem;
    }
    .vsk_root .future_102 .future_lead_102 h2{
        font-size: 3rem;
    }
    .vsk_root .future_102 .future_lead_2_102 h1{
        font-size: 6rem;
    }
    
      /*special  program*/
      .vsk_root .future_102 .earth_102{
        width: 150px;
        left: 75%;
        top: 15%;
    }
      /*special  program*/
      .vsk_root  .special_program_102 .future_card_102 .card_content_102 video{
        width: 600px;
    }
  }

  @media only screen and (max-width: 845px){
    .vsk_root .header_102 .text h1{
        font-size: 4rem;
    }
    .vsk_root .header_102 .text .text_102 {
        font-size: 4rem;
    }
    .vsk_root .header_102 .icon_orbit_102{
        width: 100px;
        top: 20%;
        right: 27%;
        display: none;
    }
    .vsk_root .header_102 .icon_genius_102{
        width: 80px;
        top: 50%;
        left: 35%;
    }
    .vsk_root .header_102 .icon_bubbles_102 {
        width: 40px;
        top: 55%;
        left: 35%;
    }
    .vsk_root .header_102 .icon_learning_102{
        width: 100px;
    }
    .vsk_root .header_102 .icon_book_102{
        width: 100px;
        bottom: 30%;
        right: 25%;
    }
    .vsk_root .header_102 .icon_curvy_102{
        display: none;
    }
    .vsk_root .header_102 .icon_pencil_102{
        display: none;
    }
    .vsk_root .special_program_102 .future_102 .venus_102{
        width: 50px;
    }
    .vsk_root .special_program_102 .future_102 .mercury_102{
        width: 50px;
    }
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102{
        padding: 1rem;
    }
    .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 h3, h2{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 span{
        font-size: .7rem;
    }
    .vsk_root .potential_102 .icon_plant_102{
        width: 150px;
    }
    .vsk_root .potential_102 .icon_diamond_102{
        left: -20%;
    }
    .vsk_root .potential_102 .potential_text_102 h1 {
        font-size: 5rem;
    }
    .vsk_root .potential_102 .icon_diamond_102 {
        left: -10%;
        width: 200px;
    }
    .vsk_root .potential_102 .icon_polygon_102 {
        left: -16%;
        width: 200px;
    }
    .vsk_root .potential_102 .potential_mercury_102 {
        width: 40px;
    }
        .vsk_root .footer_container_102 .footer_content_102{
            flex-wrap: wrap;
      }
  }
  @media only screen and (max-width:780px){
    .vsk_root .special_program_102 .course_container_102{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-flow: row;
    }
    .vsk_root .special_program_102 .course_container_102 .binders_102{
        display: none;
    }
    .vsk_root .special_program_102 .course_container_102 .binders_2_102{
        display: none;
    }
  }
  @media only screen and (max-width:730px) {
    .vsk_root .special_program_102 .future_102 .future_lead_102 h1{
        font-size: 3rem;
    }
    .vsk_root .special_program_102 .future_102 .future_lead_102 .lead_102 {
        font-size: 3rem;
    }
    .vsk_root .special_program_102 .future_102 .earth_102 {
        width: 150px;
        left: 50%;
        top: 8%;
    }
    .vsk_root .header_102 .text .text_102 {
        font-size: 3rem;
    }
    .vsk_root .future_card_102 .card_content_102 h1{
        font-size: 3rem;
    }
    .vsk_root  .special_program_102 .future_card_102 .card_content_102 video{
        width: 400px;
    }
  }
  @media only screen and (max-width: 660px){
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102{
        grid-template-columns: 1fr;
    }
    .vsk_root .header_102 .text h1{
        font-size: 3rem;
    }
    .vsk_root .header_102 .icon_round_102 {
        left: -25%;
    }
    .vsk_root .special_program_102 .future_card_102 .card_content_102 .virtual_102 h1{
        width: 400px;
    }
    .vsk_root .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102{
        padding: 2rem;
    }
    .vsk_root .potential_102 .icon_diamond_102 {
        left: -15%;
    }
    .vsk_root .header_102 .icon_genius_102 {
        width: 60px;
    }
    .vsk_root .header_102 .icon_book_102 {
        width: 70px;
        bottom: 35%;
        right: 29%;
    }
    .vsk_root .potential_102 .icon_pencil_102 {
        width: 150px;
    }
    .vsk_root .potential_102 .icon_curvy_102 {
        width: 80px;
    }
    .vsk_root .special_program_102 .future_102 .earth_102 {
        width: 100px;
        left: 55%;
        top: 12%;
    }
  }

  @media only screen and (max-width: 550px){
    .vsk_root .header_102 .icon_book_102 {
        bottom: 30%;
        left: 65%;
  }
    .vsk_root .header_102 .icon_genius_102 {
        top: 53%;
  }
    .vsk_root .special_program_102 .future_102 .earth_102 {
    left: 70%;
 }
 .vsk_root .potential_102 .icon_diamond_102 {
    left: -20%;
 }
 .vsk_root .potential_102 .icon_polygon_102 {
    width: 150px;
 }
 .vsk_root .potential_102 .icon_plant_102 {
    width: 100px;
}
 .vsk_root .special_program_102 .future_card_102 .card_header_102 .header_lead_102 h4{
    font-size: .5rem;
}
 .vsk_root .special_program_102 .future_card_102 .card_content_102 .virtual_102 h1 {
    font-size: 2rem;
}
 .vsk_root .special_program_102 .payment_plan_102 .payment_header_102 h1{
    font-size: 3rem;
}
 .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 h2{
    font-size: 1rem;
}
 .special_program_102 .payment_plan_102 .payment_cards_102 .payment_card_102 h3{
    font-size: 1.5rem;
}
 .vsk_root .footer_container_102 .footer_content_102 {
    padding: 1.5rem;
}
 .vsk_root .header_102 .icon_round_102 {
    left: -30%;
}
 .vsk_root .potential_102 .icon_pencil_102 {
    right: 0;
}
 .vsk_root .potential_102 .icon_curvy_102{
    right: 0;
 }
}
@media only screen and (max-width: 480px){
    .vsk_root .header_102 .text h1{
        font-size: 2.5rem;
    }
    .vsk_root .header_102 .text .text_102{
        font-size: 2rem;
    }
    .vsk_root .header_102 .icon_genius_102{
        width: 45px;
    }
    .vsk_root .header_102 .icon_book_102 {
        bottom: 33%;
        width: 50px;
    }
    .vsk_root .header_102 .icon_round_102 {
        left: -35%;
    }
    .vsk_root .header_102 .icon_bubbles_102 {
        width: 30px;
        top: 57%;
    }
    .vsk_root .special_program_102 .future_102 .future_lead_102 h1 {
        font-size: 2rem;
    }
    .vsk_root .special_program_102 .future_102 .future_lead_102 .lead_102 {
        font-size: 2rem;
    }
    .vsk_root .special_program_102 .future_102 .earth_102 {
        left: 55%;
    }
    .vsk_root .special_program_102 .future_card_102 .card_content_102 video {
        width: 300px;
    }
    .vsk_root .potential_102 .potential_mercury_102 {
        right: 42%;
    }
    section {
     padding-bottom: 0;
    }
    .vsk_root .special_program_102 .future_card_102 .card_content_102 .virtual_102 h1 {
        width: 300px;
    }
}
  /* @media only screen and (max-width: 900px){
    .vsk_root .binders_102{
        display: none;
    }
    .vsk_root .binders_2_102{
        display: none;
    }
    .vsk_root .future_102 .future_lead_102 h1{
        font-size: 4rem;
    }
    .vsk_root .future_102 .future_lead_102 h2{
        font-size: 2rem;
    }
    .vsk_root .future_102 .future_lead_2_102 h1{
        font-size: 4rem;
    }
    .vsk_root .future_102 .earth_102{
        left: 55%;
        top: 10%;
    }
    .vsk_root .future_card_102{
        margin-top: 2rem;
    }
    section{
        padding-bottom: 0;
    }
    .vsk_root .future_card_102 .card_content_102 video{
        width: 600px;
  }
  .vsk_root .footer_container_102 .footer_content_102{
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
  } */
